# Server Configuration
PORT=8576
NODE_ENV=development

# Database Configuration (MongoDB Atlas / AWS DocumentDB / Local MongoDB)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/wonderdnd?retryWrites=true&w=majority

# Allowed CORS Origins (e.g. http://localhost:5173 or your AWS CloudFront domain / S3 bucket URL)
CORS_ORIGIN=*
